
.css-typing p {
  border-right: none;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  height: auto;
  width: 100%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
  }
  100% {
    border: none;
    width: 100%;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {

  }
  100% {
    border: none;
  }
}
